<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-6">
        <h3>Product list</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">ECommerce</li>
        </ol>
      </div>
      <div class="col-6">
        <!-- Bookmark Start-->
        <div class="bookmark pull-right">
          <ul>
            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title=""
                   data-original-title="Chat"><i data-feather="message-square"></i></a></li>
            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title=""
                   data-original-title="Icons"><i data-feather="command"></i></a></li>
            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title=""
                   data-original-title="Learning"><i data-feather="layers"></i></a></li>
            <li><a href="#"><i class="bookmark-search" data-feather="star"></i></a>
              <form class="form-inline search-form" action="#" method="get">
                <div class="form-group form-control-search">
                  <div class="Typeahead Typeahead--twitterUsers">
                    <div class="u-posRelative">
                      <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text"
                             placeholder="Search.." name="q" title="" autofocus>
                      <div class="spinner-border Typeahead-spinner" role="status"><span
                        class="sr-only">Loading...</span></div>
                    </div>
                    <div class="Typeahead-menu"></div>
                    <script id="result-template" type="text/x-handlebars-template">
                      <div class="ProfileCard u-cf">
                        <div class="ProfileCard-avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                               class="feather feather-airplay m-0">
                            <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
                            <polygon points="12 15 17 21 7 21 12 15"></polygon>
                          </svg>
                        </div>
                        <div class="ProfileCard-details">
                          <div class="ProfileCard-realName">{{name}}</div>
                        </div>
                      </div>
                    </script>
                    <script id="empty-template" type="text/x-handlebars-template">
                      <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is
                        down, yikes!
                      </div></script>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <!-- Bookmark Ends-->
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Individual column searching (text inputs) </h5><span>The searching functionality provided by DataTables is useful for quickly search through the information in the table - however the search is global, and you may wish to present controls that search on specific columns.</span>
        </div>
        <div class="card-body">


          <div class="card">
            <h5>Cell Editing</h5>
            <p-table [value]="products" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.code">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{product.code}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.name" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{product.name}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="statuses" [(ngModel)]="product.inventoryStatus"
                                    [style]="{'width':'100%'}"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{product.inventoryStatus}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.price">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{product.price | currency: 'USD'}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>


        </div>
      </div>
    </div>
    <!-- Individual column searching (text inputs) Ends-->
  </div>
</div>
<!-- Container-fluid Ends-->
