<div class="row">
  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Country</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Alexander</td>
                <td>Orton</td>
                <td>@mdorton</td>
                <td>Admin</td>
                <td>USA</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


