<!-- pages-wrapper Start-->
<div class="page-wrapper">
    <div class="container-fluid p-0">
        <!-- login pages start-->
        <div class="authentication-main no-bg">
            <div class="row">
                <div class="col-md-12">
                    <div class="auth-innerright">
                        <div class="authentication-box">
                            <div class="mt-4">
                                <div class="card-body">
                                    <div class="cont text-center">
                                        <router-outlet></router-outlet>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login pages end-->
    </div>
</div>
