<div class="table-responsive">
  <table class="display" id="basic-1">
    <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Age</th>
      <th>Start date</th>
      <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Tiger Nixon</td>
      <td>System Architect</td>
      <td>Edinburgh</td>
      <td>61</td>
      <td>2011/04/25</td>
      <td>$320,800</td>
    </tr>
    </tbody>
  </table>
</div>

<h1>post component</h1>
<li><a routerLink="/posts/create" routerLinkActive="active">create Posts</a></li>

